.app{display:flex;min-height:100vh;}
.main{flex:1;display:flex;flex-direction:column;margin-left: 220px !important;transition: margin-left .25s ease;}
.topbar{display:flex;align-items:center;justify-content:space-between;padding:20px 39px;}
.topbar h1{margin:0;font-size:25px;font-weight: 600;}
.top-actions {display: flex;align-items: center;padding:12px 18px;border-radius:30px;background:var(--card);border: none;gap: 8px;}
.top-actions input{background:var(--card);border: none;}
.content{padding:28px;flex:1}

input {
  font-family: inherit;
  color: var(--accent);
}

input::placeholder {
  font-family: inherit;
  color: var(--muted);
}

/* COLLAPSED SIDEBAR */
.app.sidebar-collapsed .main {margin-left: 110px !important;}
.app:not(.sidebar-collapsed) .main {margin-left: 220px !important;}

footer.footer{text-align:center;padding:14px;color:var(--muted);font-size:13px}