{% extends "system/base_login.html" %}
{% block content %}

<div class="center-wrapper">
    <div class="card center-card" style="margin-top: -50px;">

        <h3>Ubah Password</h3>
        <form method="POST">

            <label>Password Lama</label>
            <input type="password" name="old_password" class="form-control" required>

            <label style="margin-top: 15px;">Password Baru</label>
            <input type="password" name="new_password" class="form-control" required>

            <label style="margin-top: 15px;">Konfirmasi Password Baru</label>
            <input type="password" name="confirm_password" class="form-control" required>

            <button class="btn btn-primary mt-3" type="submit">Simpan</button>
            <a href="{{ url_for('dashboard') }}" class="btnbatal">Batal</a>
        </form>

    </div>
</div>
{% endblock %}
