{% extends "system/base_login.html" %}
{% block content %}

<div class="center-wrapper">
    <div class="card center-card">
        <h3 style="margin-top: 0px;">Lupa Password</h3>

        <form method="POST">
            <label>Masukkan Username Anda</label>
            <input type="text" name="username" class="form-control" required>

            <button class="btn btn-primary mt-3" type="submit" style="margin-top: 10px;">Lanjutkan</button>
            <a href="{{ url_for('login') }}" class="btnbatal">Kembali</a>
        </form>
    </div>
</div>

{% endblock %}
