{% extends "landing/landing.html" %}
{% block carousel %}{% endblock %}
{% block catalog %} 
<main>
    <section class="about-section">
        <img src="static\uploads\landing\tentang.png">
        <div class="about-text">    
            <h2>Tentang Dunia Helm</h2>
            <p>Dunia Helm adalah toko online yang menyediakan berbagai macam helm berkualitas tinggi untuk pengendara motor. Kami berkomitmen untuk memberikan produk terbaik dengan harga yang kompetitif serta layanan pelanggan yang unggul.</p>
            <p>Visi kami adalah menjadi toko helm terkemuka di Indonesia yang dikenal karena kualitas produk dan pelayanan pelanggan yang luar biasa. Misi kami adalah menyediakan helm yang aman, nyaman, dan stylish bagi para pengendara motor di seluruh negeri.</p>
            <p>Kami percaya bahwa keselamatan adalah prioritas utama bagi setiap pengendara motor. Oleh karena itu, kami hanya menjual helm yang memenuhi standar keselamatan nasional dan internasional. Tim kami selalu siap membantu Anda dalam memilih helm yang sesuai dengan kebutuhan dan preferensi Anda.</p>
            <p>Terima kasih telah mengunjungi Dunia Helm. Kami berharap dapat melayani Anda dan menjadi bagian dari perjalanan berkendara Anda yang aman dan menyenangkan.</p>
        </div>
    </section>
</main>
{% endblock %}
